<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>azizou.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E1BEF93181A2EF2001216C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E1BEFA9181A332E001216C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EAE0338181A0FF6001E1AB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
